{% extends "base.html" %}

{% block content %} 

<main>
    <div id="about">
        <div>
            <div class="title">
                <h2><i class="bi bi-flower3 fa-lg"></i> <b>SOBRE</b></h2>
            </div>
            <div class="text-about">
                <p>Meu nome é <b>Gabriela da Silva Barbosa</b>, tenho <b>20 anos</b>, sou de <b>São José dos Campos-São Paulo</b> e estou cursando <b>Desenvolvimento de Software Multiplataforma</b> na <b>FATEC</b> Profº Jessen Vidal de São José dos Campos.</p>
            </div>
            <div class="cv">
                <button id="cv">
                    <a href="../static/docs/Curriculo_Gabriela.pdf" download="Curriculo_Gabriela">
                    <i class="fas fa-download fa-lg"></i> 
                    BAIXAR CURRÍCULO PDF
                    </a>
                </button>
            </div>
            </div>
        <div>
            <div>
                <img class="pfp" src="../static/image/pfp.jpg" alt="foto de Gabriela da Silva Barbosa, desenvolvedora desse portfólio.">
            </div>
        </div>
    </div>

</main>


{% endblock %}