{% extends "base.html" %}

{% block content %} 
<main>
    <h3><b>PROJETO OCTOPLUS BANK</b></h3>

    <div class="about_project">
    <p>Projeto da API (Aprendizagem por Projetos Integrados) da Fatec Profº Jessen Vidal São José dos Campos. Objetivo desse projeto do primeiro semestre do curso Desenvolvimento de Software Multiplataforma foi criar um sistema de banco digital com suas funcionalidades, como saques e depósitos. Também foi proposto a criação de perfis administrativos, como um Gerente Geral e Gerente de Agência e que possuíssem funcionalidades especiais, como exclusão de contas e aprovação de depósitos.</p>
    </div>

    <nav class="sites">
        <a 
        target="_blank"
        href="/erro404">🔗 Site do projeto</a>
        <a 
        target="_blank"
        href="https://github.com/OctoplusHolding/OctoplusBank">🔗 Repositório GitHub do projeto</a>
    </nav>
</main>

{% endblock %}