{% extends "base.html" %}

{% block content %} 

<main id="project">

    <div class="title">
        <h2><i class="bi bi-palette-fill"></i> <b>PROJETOS</b></h2>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="projeto">
          <div class="carousel-item active">
            <a href="/projeto_1">
            <img class="d-block w-70" src="/static/image/projeto_1.png" alt="First slide">
            </a>
          </div>
          <div class="carousel-item">
            <a href="/projeto_2"></a>
            <img class="d-block w-100" src="/static/image/projeto_2.png" alt="Second slide">
          </div>
          <div class="carousel-item">
            <a href="/projeto_3">
            <img class="d-block w-100" src="/static/image/projeto_3.png" alt="Third slide">
            </a>
          </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

</main>

{% endblock %}