* {
    font-family: 'Cousine', monospace;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8affc8!important;
    background-attachment: fixed;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    padding: 1em;
}

a, a:link {
    color: #000;
    text-decoration: none;
    border: none;
}

#navbar-items {
    color: #000;
    text-decoration: none;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

h3 {
    padding: 2% 10%;
}
  
/* cursor animations */
  
@keyframes animated-cursor{
    from{border-right-color: rgb(157, 255, 0);}
    to{border-right-color: #000;}
}

/* NAVBAR */

#navbar {
    background-color: #4fbe8a;
    width: 100%;
    margin-right: auto;
    color: #000;
}

#navbar-columns {
    display: grid;
    grid: 100% / 25% 75%;
}

#navbar a:link {
    color: #000;
}

.nav-item a:hover {
    color: #8affc8!important;
}

.navbar-brand img {
    width: 5em;
    margin-top: .7em;
    margin-left: 1em;
    float: left;
}


#navbar-items .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
    text-decoration: none;
}

#navbar-items {
    margin: 1em 5em;
} 

.nav-item {
    color: #000!important;
}

/* index */

#welcome {
    padding-top: 8%;
    padding-left: 8%;
    cursor: default;
}


.frase {
    padding: 1%;
    margin-top: 3%;
    margin-right: 2em;
}

h1 {
    font-size: 7em!important;
    font-weight: bold!important;
    color: #000;
}


/* about */

.pfp {
    width: 60%;
    border-radius: 50%;
    border: 0;
    border: 7px solid #ffffffc0;
    float: left;    
    margin-left: 10em;
    margin-top: 0;
    filter:sepia(10%);
}

#about {
    padding: 3% 5%;
    display: grid;
    grid: 100%;
    grid-gap: .2em;
    display: flex;
    justify-content: space-around;
}

#cv {
    background-color: #ffffff;
    border: 1px solid #000;
    padding: 3% 2.75%;
    color: #000;
    font-size: 1.25em;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 3em;
}

#cv a:hover {
    color: #000;
}

.text-about {
    width: 110%;
    margin-top: 3em;
    margin-left: 3em;
    font-size: larger;  
    text-align: justify;
}

/* project */

#project {
    padding: 0 5%;
}


.col-sm {
    width: 50%;
    display: grid;
    grid-column: 1;
    grid-gap: 3%;
    margin-left: 2em;
    padding: 2% 0;
}


.about_project {
    padding: 0 13%;
}

.sites {
    padding: 0 13%;
    color: #000;
}

    
/* contact */

#redes {
    padding: 3% 5%;
}

.networks {
    padding: 3% 12%;
    margin-left: 12em;
    margin-top: .3em;
}

.network {
    width: 12%;
    margin: 0 3em;
}

.wishlist {
    font-weight: bold;
}

#wishlist {
    margin-top: 2em;
    margin-left: 36em;
    padding: 0 0;
    width: 5%;
}

.book {
    margin-left: 15em;
    font-size: 1.25em;
    margin-top: .5em;
    color: #000;
    text-decoration: none!important;
    outline: none;
}

.book, a:link, a:visited {
    text-decoration: none;
}


.email {
    font-weight: bolder;
    margin-left: 14em;
    margin-top: 1.25em;
    font-size: 1.75em;
    color: #000;
}


.title1 {
    font-size: 2.25em;
    margin-left: 2em;
    margin-top: -.5em;
    cursor: default;
}

.title2 {
    font-size: 2.25em;
    margin-left: 2em;
    margin-top: .5em;
    cursor: default;
}

.title3 {
    font-size: 2.25em;
    margin-left: 2em;
    margin-top: -.5em;
    cursor: default;
}

@media(max-width: 500px) {

    /* geral */
    .navbar-toggler {
        display: block;
        margin-left: 15em;
        margin-top: 2em;
    }

    .navbar-light {
        color: #fff;
    }

    .navbar-brand img {
        width: 5em;
        margin-top: -3em;
        margin-left: 1em;
        float: left;
    }

    
    .navbar-item {
        color: #000!important;
    }

    li {
        padding: .5em;
    }

    h1 {
        font-size: 4em!important;
        font-weight: bold!important;
        color: #000;
    }

    .title2 {
        margin-top: .4em;
        margin-left: 1em;
    }

    /* about */
    .pfp {
        width: 70vw;
        border-radius: 50%;
        padding-right: 25%;
        margin-left: -26em;
        margin-top: 4.55em;
    }

    #about {
        padding: 2% 3%;
    }
    
    #cv {
        background-color: #ffffff;
        border: 1px solid #000;
        color: #000;
        padding: 3% 5%;
        width: 18em;
        font-size: 1em;
        font-weight: bolder;
        border-radius: 10px;
        margin-top: .5em;
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .text-about {
        margin-left: 3em;
        padding: 3% 0;
        padding-right: 36%;
        margin-top: 18em;
    }

    .title1 {
        margin-top: .4em;
        margin-left: 1em;
    }

    /* contact */

    .title3 {
        margin-top: .4em;
        margin-left: 1em;
    }

    #redes {
        padding: .5% 3%;
    }

    .networks {
        padding: 2% 3%;
        margin-left: 1.75em;
        margin-top: .5em;
    }
    .network {
        width: 18%;
        margin: 1em 1.25em;
    }

    .email {
        font-weight: bold;
        margin-left: 2.5em;
        margin-top: 1em;
        font-size: 1.25em;
    }

    .book {
        text-align:center;
        margin: .5em 1em;
    }

    #wishlist {
        margin-top: 1em;
        margin-left: 13em;
        padding: 0 0;
        width: 10%;
    }

    /* project */

    .col-sm {
        width: 50%;
        margin-left: 4em;
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

/* flower - snow */

.snowflake {
    color: rgb(204, 116, 116);
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #470510;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-15%}100%{top:100%}}
  @-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}
  @keyframes snowflakes-fall{0%{top:-20%}100%{top:100%}}
  @keyframes snowflakes-shake{0%{transform:translateX(0px)}
  50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
  .snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;animation-play-state:running,running}
    .snowflake:nth-of-type(0){left:2%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
    .snowflake:nth-of-type(1){left:5%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
    .snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
    .snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
    .snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
    .snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
    .snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
    .snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:https://proxy.everskies.com/a/https://proxy.everskies.com/a/2.5s,1s;animation-delay:https://proxy.everskies.com/a/https://proxy.everskies.com/a/2.5s,1s}
    .snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
    .snowflake:nth-of-type(9){left:95%;-webkit-animation-delay:0s;https://proxy.everskies.com/a/https://proxy.everskies.com/a/1.5s;animation-delay:3s,https://proxy.everskies.com/a/https://proxy.everskies.com/a/1.5s}