* {
    font-family: 'Cousine', monospace;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    text-decoration: none;
}

li {
    padding: 1em;
}

a, a:link {
    color: #000;
    text-decoration: none;
    border: none;
}

#navbar-items {
    color: #000;
    text-decoration: none;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

h3 {
    padding: 2% 10%;
}
  
/* cursor animations */
  
@keyframes animated-cursor{
    from{border-right-color: rgb(157, 255, 0);}
    to{border-right-color: #000;}
}

/* NAVBAR */

#navbar {
    background-color: #4fbe8a;
    width: 100%;
    margin-right: auto;
    color: #000;
}

#navbar-columns {
    display: grid;
    grid: 100% / 25% 75%;
}

#navbar a:link {
    color: #000;
}

#navbar a:hover {
    color: #8affc8;
}

.navbar-brand img {
    width: 5em;
    margin-top: .7em;
    margin-left: 1em;
    float: left;
}


#navbar-items .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;
    text-decoration: none;
    color: #000;
}

#navbar-items {
    color: #000;
    margin: 1em 5em;
} 

/* index */

#welcome {
    padding-top: 8%;
    padding-left: 8%;
}


.frase {
    padding: 1%;
    margin-top: 3%;
}

h1 {
    font-size: 3em!important;
}


/* about */

.pfp {
    width: 60%;
    border-radius: 50%;
    border: 0;
    border: 7px solid #ffffffc0;
    float: left;    
    margin-left: 10em;
    margin-top: 0;
}

#about {
    padding: 3% 5%;
    display: grid;
    grid: 100%;
    grid-gap: .2em;
    display: flex;
    justify-content: space-around;
}

#cv {
    background-color: #ffffff;
    border: 1px solid #000;
    padding: 3% 2.75%;
    color: #000;
    font-size: 1.25em;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 3em;
}

.text-about {
    width: 110%;
    margin-top: 3em;
    margin-left: 3em;
    font-size: larger;  
    text-align: justify;
}

/* project */

#project {
    padding: 3% 5%;
}

.projeto {
    width: 14em;
}

#projects {
    padding: 2% 10%;
    display: grid;
    grid-column: 1;
    grid-gap: 1%;
}

body {
    background-color: #8affc8;
}

.about_project {
    padding: 0 13%;
}

.sites {
    padding: 0 13%;
    color: #000;
}
    
/* contact */

#redes {
    padding: 3% 5%;
}

.networks {
    padding: 3% 12%;
    margin-left: 12em;
    margin-top: .5em;
}

.network {
    width: 12%;
    margin: 0 3em;
}

.wishlist {
    font-weight: bold;
}

#wishlist {
    margin-top: .5em;
    margin-left: 36em;
    padding: 0 0;
    width: 5%;
}

.book {
    margin-left: 15em;
    font-size: 1.25em;
    margin-top: .5em;
    color: #000;
    text-decoration: none!important;
    outline: none;
}

.book, a:link, a:visited {
    text-decoration: none;
}

.email {
    font-weight: bolder;
    margin-left: 14em;
    margin-top: .5em;
    font-size: 1.75em;
    color: #000;
}

@media(max-width: 500px) {

    /* geral */
    .navbar-toggler {
        display: block;
        margin-left: 15em;
        margin-top: 2em;
    }

    .navbar-light {
        color: #fff;
    }

    .navbar-brand img {
        width: 5em;
        margin-top: -3em;
        margin-left: 1em;
        float: left;
    }

    li {
        padding: .5em;
    }

    /* about */
    .pfp {
        width: 60vw;
        border-radius: 50%;
        padding-right: 25%;
        margin-left: -25em;
        margin-top: 4em;
    }

    #about {
        padding: 3% 3%;
    }
    
    #cv {
        background-color: #ffffff;
        border: 1px solid #000;
        color: #000;
        padding: 3% 5%;
        width: 18em;
        font-size: 1em;
        font-weight: bolder;
        border-radius: 10px;
        margin-top: .5em;
        margin-left: 4em;
        margin-bottom: 1em;
    }

    .text-about {
        margin-left: 3em;
        padding: 3% 0;
        padding-right: 36%;
        margin-top: 16em;
    }

    /* contact */
    .title {
        font-size: 5vw;
        margin-top: .4em;
        margin-left: 3em;
    }

    #redes {
        padding: .5% 3%;
    }

    .networks {
        padding: 2% 3%;
        margin-left: 1.5em;
        margin-top: .5em;
    }
    .network {
        width: 18%;
        margin: 1em 1.25em;
    }

    .email {
        font-weight: bold;
        margin-left: 2em;
        margin-top: 1em;
        font-size: 1.25em;
    }

    .book {
        text-align: justify;
        margin: .5em 1em;
    }

    #wishlist {
        margin-top: 1em;
        margin-left: 10em;
        padding: 0 0;
        width: 10%;
    }

    /* project */

    #project {
        padding: 3% 5%;
    }

    .projeto {
        width: 17em;
    }

    .col-sm {
        padding: 2em;
    }

    #projects {
        margin-left: 2em;
        padding: 2% 10%;
        display: grid;
        grid-column: 1;
    }
}

/* erro 404 */
  .msg {
      text-align: center;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
