<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- icons fontawesome -->
    <script src="https://kit.fontawesome.com/690488a588.js" crossorigin="anonymous"></script>
    <title>Portfólio</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-center" id="navbar" style="color: #000;">
      <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #fff;"></span>
      </button>
        <div class="container-fluid" id="navbar-style">
            <a class="navbar-brand" href="/">
              <img src="../static/image/jasmine.png" alt="flor verde">
            </a>
          <div class="collapse navbar-collapse" id="navbar-items">
              <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                  <a {% block linkAtivo %}{% endblock %} href="/">Página Inicial</a>
                </li>
                <li class="nav-item">
                  <a {% block linkAtivoPortfolio %}{% endblock %} href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a {% block linkAtivoEducacao %}{% endblock %} href="/projetos">Projetos</a>
                </li>
                <li class="nav-item">
                  <a {% block linkAtivoContatos %}{% endblock %} href="/contato">Contato</a>
                </li>
              </ul>
            </div>
        </div>
      </nav>
      <main>
{% block content %}{% endblock %}
      </main>
    
    
    

</body>

</html>