{% extends "base.html" %}

{% block content %} 

<header>

    <button><a href="/">PÁGINA INICIAL</a></button>
    <button><a href="/sobre">SOBRE</a></button>
    <button><a href="/projetos">PROJETOS</a></button>
    <button><a href="/contato">CONTATO</a></button>

</header>

<main>

    <div class="title-contact">
        <h2>CONTATO</h2>
    </div>

    <nav class="networks">
        <a 
        target="_blank"
        href="https://www.linkedin.com/in/gabrieladsbarbosa/"><img src="../static/image/_Linkedin.png" alt="imagem do logo do LinkedIn"></a>
        <a 
        target="_blank"
        href="https://github.com/gabidsbarbosa"><img src="../static/image/_Github.png" alt="imagem do logo do GitHub"></a>
        <a 
        target="_blank"
        href="https://www.instagram.com/gabidsbarbosa/"><img src="../static/image/_Instagram.png" alt="imagem do logo do Instagram"></a>
        <a 
        target="_blank"
        href="https://www.pinterest.com/gabidsbarbosa/"><img src="../static/image/_Pinterest.png" alt="imagem do logo do Pinterest"></a>
    </nav>

    <div class="email">
        <p>gabrielasbarbosa4@gmail.com</p>
    </div>

    <nav class="wishlist">
        <a 
        target="_blank"
        href="https://www.amazon.com.br/hz/wishlist/ls/8ANN5C4TCB8B?ref_=wl_share"><img src="../static/image/_Amazon.png" alt="imagem do logo da Amazon">compre um livro para mim pela minha wishlist da Amazon!</a>
    </nav>

</main>


{% endblock %}