{% extends "base.html" %}

{% block content %} 
<main>
    <h3>PROJETO NLW</h3>

    <div class="about_project_1">
        <p>Esse projeto foi criado para estudo de HTML5 e CSS3 pela plataforma Rocketseat na semana Next Level Week. O objetivo foi criar um site de eSports que tivesse informações sobre jogos e streamers favoritos. </p>
    </div>

    <div class="technologies_project_1">
        <img src="#" alt="">
    </div>

    <nav>
        <a 
        target="_blank"
        href="https://gabidsbarbosa.github.io/nlw/">🔗 Site do projeto</a>
        <a 
        target="_blank"
        href="https://github.com/gabidsbarbosa/nlw">🔗 Repositório GitHub do projeto</a>
    </nav>
</main>

{% endblock %}