{% extends "base.html" %}

{% block content %} 

<header>

    <button><a href="/">PÁGINA INICIAL</a></button>
    <button><a href="/sobre">SOBRE</a></button>
    <button><a href="/projetos">PROJETOS</a></button>
    <button><a href="/contato">CONTATO</a></button>

</header>

<main>

    <div class="title-projects">
        <h2>PROJETOS</h2>
    </div>

    <div class="projects-column1">
        <a href="/project_1">
        <img src="../static/image/projeto_1.png" alt="Imagem do projeto eSports da Next Level Week da Rocketseat">
        </a>
    </div>

    <div class="projects-column2">
        <a href="/project_2">
        <img src="../static/image/projeto_2.png" alt="Imagem do projeto do 1º semestre da faculdade chamado Octoplus Bank">
        </a>
    </div>

    <div class="projects-column3">
        <a href="/project_3">
        <img src="../static/image/projeto_3.png" alt="Imagem do projeto de um site pessoal de livros e filmes favoritos e pendentes">
        </a>
    </div>

</main>

{% endblock %}