{% extends "base.html" %}

{% block content %} 

<header>

    <button><a href="/">PÁGINA INICIAL</a></button>
    <button><a href="/sobre">SOBRE</a></button>
    <button><a href="/projetos">PROJETOS</a></button>
    <button><a href="/contato">CONTATO</a></button>

</header>

<main>

    <div class="title-projects">
        <h2>PROJETOS</h2>
    </div>

    <div class="projects-column1">
        
    </div>

    <div class="projects-column2">
        
    </div>

    <div class="projects-column3">
        
    </div>

</main>

{% endblock %}