{% extends "base.html" %}

{% block content %} 

<main>
    <div id="about">
        <div>
            <div>
                <h2 class="title1">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fas fa-chess-pawn fa-3x"></i>
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Meus livros favoritos!</b></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <a 
                            target="_blank"
                            href="https://www.goodreads.com/book/show/54121.Ensaio_Sobre_a_Cegueira">
                                <img src="/static/image/ensaio-sobre-cegueira.jpg" alt="livro ensaio sobre cegueira por josé saramago" width="120" height="175" style="margin-left: 1em;">
                            </a>
                            <a 
                            target="_blank"
                            href="https://www.goodreads.com/book/show/23355768-a-redoma-de-vidro">
                                <img src="/static/image/redoma-de-vidro.jpg" alt="livro redoma de vidro por sylvia plath" width="120" height="175">
                            </a>
                            <a 
                            target="_blank"
                            href="https://www.goodreads.com/book/show/6683154-vinte-mil-l-guas-submarinas">
                                <img src="/static/image/vinte-mil-leguas.jpg" alt="livro vilte mil léguas submarinas por julio verne" width="120" height="175" id="vintemil">
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                <b>SOBRE</b>
                </h2>
            </div>
            <div class="text-about">
                <p>Meu nome é <b>Gabriela da Silva Barbosa</b>, tenho <b>20 anos</b>, sou de <b>São José dos Campos-São Paulo</b> e estou cursando <b>Desenvolvimento de Software Multiplataforma</b> na <b>FATEC</b> Profº Jessen Vidal de São José dos Campos.</p>
            </div>
            <div class="cv">
                <button id="cv">
                    <a href="../static/docs/Curriculo_Gabriela.pdf" download="Curriculo_Gabriela">
                    <i class="fas fa-download fa-lg"></i> 
                    BAIXAR CURRÍCULO PDF
                    </a>
                </button>
            </div>
            </div>
        <div>
            <div>
                <img class="pfp" src="../static/image/pfp.jpg" alt="foto de Gabriela da Silva Barbosa, desenvolvedora desse portfólio.">
            </div>
        </div>
    </div>

</main>


{% endblock %}