{% extends "base.html" %}

{% block content %} 
<main id="redes">
    <div>
        <h2 class="title3">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-puzzle-piece fa-3x"></i>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>meu filme favorito (o menino e o mundo)</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/static/image/menino-mundo.jpg" alt="protagonista do filme o menino e mundo" width="400" height="400" style="margin-left: 1em;">
                    </div>
                </div>
                </div>
            </div>
            <b>CONTATO</b>
            </h2>
    </div>
    <nav class="networks">
        <a 
        target="_blank"
        href="https://www.linkedin.com/in/gabrieladsbarbosa/"><img class="network" src="../static/image/_Linkedin.png" alt="imagem do logo do LinkedIn"></a>
        <a 
        target="_blank"
        href="https://github.com/gabidsbarbosa"><img class="network" src="../static/image/_Github.png" alt="imagem do logo do GitHub"></a>
        <a 
        target="_blank"
        href="https://www.instagram.com/gabidsbarbosa/"><img class="network" src="../static/image/_Instagram.png" alt="imagem do logo do Instagram"></a>
    </nav>

    <div class="email">
        <i class="bi bi-envelope fa-lg"></i> gabrielasbarbosa4@gmail.com
    </div>

    <nav class="wishlist">
        <a 
        target="_blank"
        href="https://www.amazon.com.br/hz/wishlist/ls/8ANN5C4TCB8B?ref_=wl_share">
        <img id="wishlist" src="../static/image/_Amazon.png" alt="imagem do logo da Amazon"><p class="book">compre um livro para mim pela minha wishlist da Amazon!</p></a>
    </nav>

</main>


{% endblock %}