{% extends "base.html" %}

{% block content %} 

<main id="project">
  <div>
    <h2 class="title2">
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fas fa-cat fa-3x"></i>
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><b>Meus gatíneos!</b></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/static/image/pantera.jpg" alt="minha gatinha pantera" width="220" height="330">
                <img src="/static/image/peter.jpg" alt="meu gatinho peter" width="200" height="300" id="peter">
            </div>
        </div>
        </div>
    </div>
    <b>PROJETOS</b>
    </h2>
</div>
  <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="/projeto_1">
            <img src="/static/image/projeto1.png" alt="imagem projeto 1">
          </a>
        </div>
        <br>
        <div class="col-sm">
          <a href="/projeto_2">
            <img src="/static/image/projeto2.png" alt="imagem projeto 2">
          </a>
        </div>
        <br>
        <div class="col-sm">
          <a href="/projeto_3">
            <img src="/static/image/projeto3.png" alt="imagem projeto 3">
          </a>
        </div>
      </div>
  </div>
  </div>
</main>

{% endblock %}